table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
	padding:5px;
	
}

td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px !important;
}

tr:nth-child(even) {
	background-color: #dddddd;
	padding: 5px;
}